@keyframes colorchange {
	0% {
		background-color: rgb(185, 255, 163);
	}

	50% {
		background-color: rgb(164, 225, 255);
	}
	
	100% {
		background-color: rgb(255, 164, 194);
	}
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	animation-name: colorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}
